* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1000px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #b2e7ff;
    font-family: Tahoma;
    font-size: 24px;
    color: black;
    text-align: center;
    border-bottom: 2px #0ab1ff;
    padding: 40px 0px;
}

footer {
    background-color: #3cff78;
    font-family: Tahoma;
    font-size: 24px;
    color: black;
    text-align: center;
    border-bottom: 2px #0ab1ff;
    padding: 40px 0px;
}

section {
    display: flex;
}

aside {
    width: 250px;
    background-color: #0ab1ff;
    padding: 25px 10px;
    color: black;
    font-family: Tahoma;
    font-size: 18px;
}

aside ul {
    color: white;
    font-size: 14px;
    list-style-position: inside;
}

aside ul li {
    margin: 20px 0px;
}

aside p {
    font-size: 12px;
}

article {
    width: 750px;
    background-color: #ededed;
    padding: 20px;
    color: black;
    font-family: Tahoma;
    font-size: 24px;
}

article p {
    margin-top: 20px;
    font-size: 14px;
    color: #802525;
}